<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FinanceDBEntities" connectionString="metadata=res://*/FinanceDataModel.csdl|res://*/FinanceDataModel.ssdl|res://*/FinanceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FinanceDB;user id=sa;password=1qaz!QAZ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>